In [24]:
import pandas as pd 
import btalib 

df = pd.read_csv('./data/TSLA.csv', parse_dates=True, index_col='Date')

df.index

DatetimeIndex(['2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20',
               '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
               '2020-04-27', '2020-04-28',
               ...
               '2021-03-31', '2021-04-01', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [ ]:
sma = btalib.sma(df)

In [20]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-04-15,148.399994,150.626007,142.000000,145.966003,145.966003,117885000
2020-04-16,143.388000,151.889999,141.343994,149.042007,149.042007,103289500
2020-04-17,154.455994,154.990005,149.531998,150.778000,150.778000,65641000
2020-04-20,146.539993,153.113998,142.442001,149.272003,149.272003,73733000
2020-04-21,146.024002,150.666000,134.757996,137.343994,137.343994,101045500
...,...,...,...,...,...,...
2021-04-08,677.380005,689.549988,671.650024,683.799988,683.799988,23924300
2021-04-09,677.770020,680.969971,669.429993,677.020020,677.020020,21402600
2021-04-12,685.700012,704.799988,682.090027,701.979980,701.979980,29135700
2021-04-13,712.700012,763.000000,710.659973,762.320007,762.320007,44652800
2021-04-14,770.700012,780.789978,728.030029,732.229980,732.229980,48875100

In [2]:
df.index

DatetimeIndex(['2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20',
               '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
               '2020-04-27', '2020-04-28',
               ...
               '2021-03-31', '2021-04-01', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-04-15,148.399994,150.626007,142.000000,145.966003,145.966003,117885000
2020-04-16,143.388000,151.889999,141.343994,149.042007,149.042007,103289500
2020-04-17,154.455994,154.990005,149.531998,150.778000,150.778000,65641000
2020-04-20,146.539993,153.113998,142.442001,149.272003,149.272003,73733000
2020-04-21,146.024002,150.666000,134.757996,137.343994,137.343994,101045500
...,...,...,...,...,...,...
2021-04-08,677.380005,689.549988,671.650024,683.799988,683.799988,23924300
2021-04-09,677.770020,680.969971,669.429993,677.020020,677.020020,21402600
2021-04-12,685.700012,704.799988,682.090027,701.979980,701.979980,29135700
2021-04-13,712.700012,763.000000,710.659973,762.320007,762.320007,44652800
2021-04-14,770.700012,780.789978,728.030029,732.229980,732.229980,48875100

In [4]:
sma
print(sma.df)

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20         NaN
2020-04-21         NaN
...                ...
2021-04-08  662.112329
2021-04-09  661.938997
2021-04-12  662.821663
2021-04-13  664.284664
2021-04-14  665.810996

[252 rows x 1 columns]

In [5]:
sma = btalib.sma(df.High)
print(sma.df)

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20         NaN
2020-04-21         NaN
...                ...
2021-04-08  683.490330
2021-04-09  681.615662
2021-04-12  681.552327
2021-04-13  683.018994
2021-04-14  685.008327

[252 rows x 1 columns]

In [6]:
sma = btalib.sma(df)
print(sma.df)

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20         NaN
2020-04-21         NaN
...                ...
2021-04-08  662.112329
2021-04-09  661.938997
2021-04-12  662.821663
2021-04-13  664.284664
2021-04-14  665.810996

[252 rows x 1 columns]

In [7]:
sma = btalib.sma(df, period=4)
print(sma.df)

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20  148.764503
2020-04-21  146.609001
...                ...
2021-04-08  684.359985
2021-04-09  680.852494
2021-04-12  683.442490
2021-04-13  706.279999
2021-04-14  718.387497

[252 rows x 1 columns]

In [8]:
print(sma.df.to_string())

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20  148.764503
2020-04-21  146.609001
2020-04-22  145.953999
2020-04-23  143.541000
2020-04-24  142.480499
2020-04-27  148.082001
2020-04-28  149.932503
2020-04-29  154.676502
2020-04-30  157.513004
2020-05-01  152.641506
2020-05-04  152.245007
2020-05-05  150.630005
2020-05-06  150.665005
2020-05-07  154.601002
2020-05-08  157.512501
2020-05-11  159.666500
2020-05-12  161.008000
2020-05-13  161.554001
2020-05-14  160.749500
2020-05-15  160.143501
2020-05-18  160.354500
2020-05-19  161.207001
2020-05-20  161.818501
2020-05-21  163.240002
2020-05-22  163.402504
2020-05-26  163.945503
2020-05-27  164.179004
2020-05-28  163.089504
2020-05-29  163.995502
2020-06-01  167.957001
2020-06-02  171.023498
2020-06-03  174.880996
2020-06-04  176.349998
2020-06-05  175.728001
2020-06-08  179.146000
2020-06-09  182.031502
2020-06-10  190.064999
2020-06-11  194.423996
2020-06-12  193.691998
2020-06-15  196.203495
2020-06-16  194.057495
2020-06-17  195.004998
2020-06-18  198.438999
2020-06-19  198.938999
2020-06-22  199.548500
2020-06-23  200.048000
2020-06-24  197.892498
2020-06-25  197.146500
2020-06-26  195.417500
2020-06-29  195.795997
2020-06-30  201.743999
2020-07-01  208.426499
2020-07-02  220.872498
2020-07-06  238.984002
2020-07-07  254.486496
2020-07-08  266.798996
2020-07-09  276.079994
2020-07-10  284.733490
2020-07-13  290.093491
2020-07-14  297.639488
2020-07-15  305.225990
2020-07-16  303.025490
2020-07-17  303.214493
2020-07-20  309.524498
2020-07-21  310.641998
2020-07-22  315.226501
2020-07-23  315.838005
2020-07-24  304.538002
2020-07-27  303.100006
2020-07-28  297.308006
2020-07-29  296.610001
2020-07-30  300.134499
2020-07-31  294.692497
2020-08-03  295.117996
2020-08-04  294.512497
2020-08-05  294.389000
2020-08-06  297.329994
2020-08-07  295.715492
2020-08-10  292.293991
2020-08-11  286.762489
2020-08-12  290.021492
2020-08-13  298.435997
2020-08-14  310.042999
2020-08-17  333.105499
2020-08-18  349.722000
2020-08-19  362.598496
2020-08-20  380.154495
2020-08-21  390.871498
2020-08-24  397.226997
2020-08-25  404.467498
2020-08-26  412.034500
2020-08-27  421.473000
2020-08-28  431.432999
2020-08-31  454.846001
2020-09-01  465.949997
2020-09-02  465.854996
2020-09-03  456.934998
2020-09-04  436.934998
2020-09-08  400.724998
2020-09-09  380.452499
2020-09-10  371.537498
2020-09-11  360.137497
2020-09-14  382.489998
2020-09-15  403.360001
2020-09-16  420.965004
2020-09-17  433.642502
2020-09-18  439.275002
2020-09-21  439.182503
2020-09-22  434.800003
2020-09-23  424.032501
2020-09-24  410.442505
2020-09-25  399.930000
2020-09-28  399.172501
2020-09-29  408.850006
2020-09-30  419.155006
2020-10-01  429.360008
2020-10-02  427.832504
2020-10-05  429.485001
2020-10-06  425.727501
2020-10-07  420.012497
2020-10-08  422.720001
2020-10-09  424.800003
2020-10-12  431.879997
2020-10-13  437.217499
2020-10-14  446.062493
2020-10-15  449.782494
2020-10-16  449.125000
2020-10-19  445.169998
2020-10-20  435.330002
2020-10-21  428.770004
2020-10-22  425.300003
2020-10-23  422.750008
2020-10-26  422.335007
2020-10-27  422.845001
2020-10-28  417.902497
2020-10-29  415.452492
2020-10-30  407.392494
2020-11-02  401.349999
2020-11-03  405.820000
2020-11-04  408.357506
2020-11-05  420.870003
2020-11-06  428.230003
2020-11-09  427.570007
2020-11-10  424.915001
2020-11-11  419.675003
2020-11-12  415.127502
2020-11-13  411.937500
2020-11-16  411.370003
2020-11-17  417.489998
2020-11-18  436.209999
2020-11-19  458.902496
2020-11-20  479.282493
2020-11-23  499.342491
2020-11-24  516.527489
2020-11-25  535.209992
2020-11-27  559.247498
2020-11-30  570.684998
2020-12-01  578.029999
2020-12-02  576.735001
2020-12-03  578.639999
2020-12-04  586.500000
2020-12-07  600.750000
2020-12-08  621.015000
2020-12-09  623.789993
2020-12-10  630.797500
2020-12-11  622.854995
2020-12-14  620.342498
2020-12-15  627.535004
2020-12-16  626.460007
2020-12-17  637.937515
2020-12-18  651.730011
2020-12-21  655.882507
2020-12-22  660.275009
2020-12-23  657.794998
2020-12-24  649.487503
2020-12-28  652.945007
2020-12-29  659.357498
2020-12-30  671.557510
2020-12-31  682.532501
2021-01-04  699.052506
2021-01-05  716.332504
2021-01-06  731.632492
2021-01-07  759.224991
2021-01-08  796.787491
2021-01-11  815.807495
2021-01-12  839.172501
2021-01-13  848.764999
2021-01-14  840.009994
2021-01-15  843.752487
2021-01-19  842.529984
2021-01-20  841.539993
2021-01-21  841.537491
2021-01-22  846.657501
2021-01-25  855.720001
2021-01-26  863.880005
2021-01-27  868.672501
2021-01-28  865.869995
2021-01-29  844.052505
2021-02-01  833.232498
2021-02-02  835.390000
2021-02-03  840.205002
2021-02-04  854.319992
2021-02-05  857.424988
2021-02-08  855.082489
2021-02-09  853.774994
2021-02-10  842.482498
2021-02-11  832.339996
2021-02-12  820.514999
2021-02-16  807.204987
2021-02-17  805.537491
2021-02-18  799.467499
2021-02-19  790.762497
2021-02-22  770.332504
2021-02-23  745.505005
2021-02-24  734.165009
2021-02-25  709.395004
2021-02-26  699.645004
2021-03-01  704.542496
2021-03-02  690.647492
2021-03-03  683.392502
2021-03-04  669.877502
2021-03-05  639.757507
2021-03-08  608.897506
2021-03-09  613.992508
2021-03-10  625.647507
2021-03-11  651.059998
2021-03-12  683.742493
2021-03-15  692.332489
2021-03-16  694.537491
2021-03-17  695.089996
2021-03-18  684.947494
2021-03-19  671.679993
2021-03-22  669.959992
2021-03-23  660.047485
2021-03-24  654.324997
2021-03-25  650.705002
2021-03-26  637.882507
2021-03-29  625.165009
2021-03-30  626.502502
2021-03-31  633.387497
2021-04-01  644.147492
2021-04-05  664.087494
2021-04-06  678.087494
2021-04-07  678.847489
2021-04-08  684.359985
2021-04-09  680.852494
2021-04-12  683.442490
2021-04-13  706.279999
2021-04-14  718.387497

In [9]:
print(btalib.sma.params)
print(list(sma.params))
print(dict(sma.params))

{'period': 30}
['period']
{'period': 4}

In [10]:
df.rename(columns={'Close':'NewClose'}, inplace=True)
sma = btalib.sma(df)
df

,Open,High,Low,NewClose,Adj Close,Volume
Date,,,,,,
2020-04-15,148.399994,150.626007,142.000000,145.966003,145.966003,117885000
2020-04-16,143.388000,151.889999,141.343994,149.042007,149.042007,103289500
2020-04-17,154.455994,154.990005,149.531998,150.778000,150.778000,65641000
2020-04-20,146.539993,153.113998,142.442001,149.272003,149.272003,73733000
2020-04-21,146.024002,150.666000,134.757996,137.343994,137.343994,101045500
...,...,...,...,...,...,...
2021-04-08,677.380005,689.549988,671.650024,683.799988,683.799988,23924300
2021-04-09,677.770020,680.969971,669.429993,677.020020,677.020020,21402600
2021-04-12,685.700012,704.799988,682.090027,701.979980,701.979980,29135700
2021-04-13,712.700012,763.000000,710.659973,762.320007,762.320007,44652800
2021-04-14,770.700012,780.789978,728.030029,732.229980,732.229980,48875100

In [11]:
print(sma.df)

                   sma
Date
2020-04-15         NaN
2020-04-16         NaN
2020-04-17         NaN
2020-04-20         NaN
2020-04-21         NaN
...                ...
2021-04-08  662.112329
2021-04-09  661.938997
2021-04-12  662.821663
2021-04-13  664.284664
2021-04-14  665.810996

[252 rows x 1 columns]

In [12]:
print(btalib.sma.__doc__)

Non-weighted average of the last n periods

Formula:
  - movav = Sum(data, period) / period

See also:
  - http://en.wikipedia.org/wiki/Moving_average#Simple_moving_average


Aliases: SMA, SimpleMovingAverage

Inputs: close

Outputs: sma

Params:
  - period (default: 30)
    Period for the moving average calculation

In [13]:
print(btalib.sma.outputs)
print(btalib.stochastic.outputs)

('sma',)
('k', 'd')

In [14]:
stochastic = btalib.stochastic(df)
print(stochastic.df)

                    k          d
Date
2020-04-15        NaN        NaN
2020-04-16        NaN        NaN
2020-04-17        NaN        NaN
2020-04-20        NaN        NaN
2020-04-21        NaN        NaN
...               ...        ...
2021-04-08  77.780626  78.005721
2021-04-09  73.626414  77.083516
2021-04-12  82.449865  77.952301
2021-04-13  89.249358  81.775212
2021-04-14  89.580608  87.093277

[252 rows x 2 columns]

In [17]:
btalib.get_indicators()
btalib.get_ind_names()
btalib.get_ind_by_name()
# btalib.get_ind_by_category()

{'acos': btalib.indicators.math.acos,
 'ad': btalib.indicators.ad.ad,
 'add': btalib.indicators.mathop.add,
 'adosc': btalib.indicators.ad.adosc,
 'adx': btalib.indicators.directionalmove.adx,
 'adxr': btalib.indicators.directionalmove.adxr,
 'apo': btalib.indicators.ppo.apo,
 'aroon': btalib.indicators.aroon.aroon,
 'aroonosc': btalib.indicators.aroon.aroonosc,
 'asin': btalib.indicators.math.asin,
 'atan': btalib.indicators.math.atan,
 'atr': btalib.indicators.atr.atr,
 'avgprice': btalib.indicators.price.avgprice,
 'bbands': btalib.indicators.bbands.bbands,
 'beta': btalib.indicators.beta.beta,
 'bop': btalib.indicators.bop.bop,
 'cci': btalib.indicators.cci.cci,
 'ceil': btalib.indicators.math.ceil,
 'cmo': btalib.indicators.cmo.cmo,
 'correl': btalib.indicators.correl.correl,
 'cos': btalib.indicators.math.cos,
 'cosh': btalib.indicators.math.cosh,
 'crossdown': btalib.indicators.crossover.crossdown,
 'crossover': btalib.indicators.crossover.crossover,
 'crossup': btalib.indicators.crossover.crossup,
 'dema': btalib.indicators.dema.dema,
 'di': btalib.indicators.directionalmove.di,
 'div': btalib.indicators.mathop.div,
 'dm': btalib.indicators.directionalmove.dm,
 'dx': btalib.indicators.directionalmove.dx,
 'ema': btalib.indicators.ema.ema,
 'ewma': btalib.indicators.ewma.ewma,
 'exp': btalib.indicators.math.exp,
 'floor': btalib.indicators.math.floor,
 'gdema': btalib.indicators.t3.gdema,
 'ht_dcperiod': btalib.indicators.ht_dcperiod.ht_dcperiod,
 'ht_dcphase': btalib.indicators.ht_dcphase.ht_dcphase,
 'ht_phasor': btalib.indicators.ht_phasor.ht_phasor,
 'ht_sine': btalib.indicators.ht_sine.ht_sine,
 'ht_trendline': btalib.indicators.ht_trendline.ht_trendline,
 'ht_trendmode': btalib.indicators.ht_trendmode.ht_trendmode,
 'kama': btalib.indicators.kama.kama,
 'linearreg': btalib.indicators.linreg.linearreg,
 'linearreg_angle': btalib.indicators.linreg.linearreg_angle,
 'linearreg_intercept': btalib.indicators.linreg.linearreg_intercept,
 'linearreg_slope': btalib.indicators.linreg.linearreg_slope,
 'ln': btalib.indicators.math.ln,
 'log10': btalib.indicators.math.log10,
 'macd': btalib.indicators.macd.macd,
 'mad': btalib.indicators.madev.mad,
 'mama': btalib.indicators.mama.mama,
 'mavp': btalib.indicators.mavp.mavp,
 'max': btalib.indicators.mathop.max,
 'maxindex': btalib.indicators.mathop.maxindex,
 'medprice': btalib.indicators.price.medprice,
 'mfi': btalib.indicators.mfi.mfi,
 'midpoint': btalib.indicators.midpoint.midpoint,
 'midprice': btalib.indicators.midpoint.midprice,
 'min': btalib.indicators.mathop.min,
 'minindex': btalib.indicators.mathop.minindex,
 'minmax': btalib.indicators.mathop.minmax,
 'minmaxindex': btalib.indicators.mathop.minmaxindex,
 'minus_di': btalib.indicators.directionalmove.minus_di,
 'minus_dm': btalib.indicators.directionalmove.minus_dm,
 'mom': btalib.indicators.mom.mom,
 'mult': btalib.indicators.mathop.mult,
 'natr': btalib.indicators.atr.natr,
 'obv': btalib.indicators.obv.obv,
 'plus_di': btalib.indicators.directionalmove.plus_di,
 'plus_dm': btalib.indicators.directionalmove.plus_dm,
 'ppo': btalib.indicators.ppo.ppo,
 'ppofast': btalib.indicators.ppo.ppofast,
 'roc': btalib.indicators.roc.roc,
 'rocp': btalib.indicators.roc.rocp,
 'rocr': btalib.indicators.roc.rocr,
 'rocr100': btalib.indicators.roc.rocr100,
 'rsi': btalib.indicators.rsi.rsi,
 'sar': btalib.indicators.sar.sar,
 'sarext': btalib.indicators.sarext.sarext,
 'sin': btalib.indicators.math.sin,
 'sinh': btalib.indicators.math.sinh,
 'sma': btalib.indicators.sma.sma,
 'smacc': btalib.indicators.directionalmove.smacc,
 'smma': btalib.indicators.smma.smma,
 'sqrt': btalib.indicators.math.sqrt,
 'stddev': btalib.indicators.stddev.stddev,
 'stddev_s': btalib.indicators.stddev.stddev_s,
 'stochastic': btalib.indicators.stochastic.stochastic,
 'stochf': btalib.indicators.stochastic.stochf,
 'stochrsi': btalib.indicators.stochrsi.stochrsi,
 'sub': btalib.indicators.mathop.sub,
 'sum': btalib.indicators.mathop.sum,
 't3': btalib.indicators.t3.t3,
 'tan': btalib.indicators.math.tan,
 'tanh': btalib.indicators.math.tanh,
 'tema': btalib.indicators.tema.tema,
 'trima': btalib.indicators.trima.trima,
 'trix': btalib.indicators.trix.trix,
 'truehigh': btalib.indicators.atr.truehigh,
 'truelow': btalib.indicators.atr.truelow,
 'truerange': btalib.indicators.atr.truerange,
 'tsf': btalib.indicators.linreg.tsf,
 'typprice': btalib.indicators.price.typprice,
 'ultimateoscillator': btalib.indicators.ultimateoscillator.ultimateoscillator,
 'var': btalib.indicators.var.var,
 'var_s': btalib.indicators.var.var_s,
 'wclprice': btalib.indicators.price.wclprice,
 'williamsr': btalib.indicators.williamsr.williamsr,
 'wma': btalib.indicators.wma.wma}