In [1]:
from datetime import datetime, timedelta
import pandas as pd 
# from influxdb_client import InfluxDBClient
from influxdb_client import InfluxDBClient, Point, WritePrecision, WriteOptions 
from influxdb_client.client.write_api import SYNCHRONOUS
import configparser
import pickle

config = configparser.ConfigParser()
config.read('../config.ini')


TOKEN = config['INFLUXDB']['API_KEY']
API_URL = config['INFLUXDB']['API_URL']
ORG = config['INFLUXDB']['ORG']

client = InfluxDBClient(url=API_URL, token=TOKEN, org=ORG)
write_api = client.write_api(write_options=SYNCHRONOUS)
query_api = client.query_api()


# The defined buckets should be created in influxdb - consult influxdb manuals. 
BUCKET = 'my_bucket'
TEST1 = 'test_bucket1'
TEST2 = 'test_bucket2'

In [ ]:
#with open('data/20200101-binance_futures-1m.pkl', 'rb') as f:
#	data = pickle.load(f)

In [2]:
import pandas as pd
from mine import trend_utils
data_1h_df=pd.read_csv('/root/trading/trading/data/temp.csv').reset_index(drop=True)
data=pd.read_csv('/root/trading/trading/data/20200101-binance-1h.csv').reset_index(drop=True)
total=pd.concat([data, data_1h_df[1:]], ignore_index=True)

d=total[len(data)-80:len(data)].reset_index(drop=True)
trend=trend_utils.trend(d)
data=total
total=total.set_index('datetime', drop=True , append=False)
total

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,open,high,low,close,volume
datetime,,,,,,,,,
2020-01-01 00:00:00,0.0,0.0,0.0,0.0,7195.24,7196.25,7175.46,7177.02,511.814901
2020-01-01 01:00:00,1.0,1.0,1.0,1.0,7176.47,7230.00,7175.71,7216.27,883.052603
2020-01-01 02:00:00,2.0,2.0,2.0,2.0,7215.52,7244.87,7211.41,7242.85,655.156809
2020-01-01 03:00:00,3.0,3.0,3.0,3.0,7242.66,7245.00,7220.00,7225.01,783.724867
2020-01-01 04:00:00,4.0,4.0,4.0,4.0,7225.00,7230.00,7215.03,7217.27,467.812578
...,...,...,...,...,...,...,...,...,...
2021-08-22 05:00:00,14353.0,NaN,NaN,NaN,49110.61,49249.28,49110.60,49193.41,150.170790
2021-08-22 06:00:00,14354.0,NaN,NaN,NaN,49129.75,49218.84,49129.75,49214.15,62.209898
2021-08-22 07:00:00,14355.0,NaN,NaN,NaN,49164.45,49220.00,49158.36,49219.41,31.417623
2021-08-22 08:00:00,14356.0,NaN,NaN,NaN,49195.01,49222.52,49182.56,49199.83,69.351419
2021-08-22 09:00:00,14357.0,NaN,NaN,NaN,49005.66,49102.49,49001.42,49093.75,54.094462

In [16]:
from mine import trend_utils
import pandas as pd

df1 = pd.read_csv('data/20200101-binance-1h.csv')
df2 = pd.read_csv('data/20200101-binance_futures-1h.csv')

d=pd.concat([df1,df2]).set_index('datetime')
d.to_csv('data/20200101-ETH.csv')
d=pd.read_csv('data/20200101-ETH.csv')
d

                datetime     open     high      low    close     volume
0    2020-01-01 00:00:00  7189.43  7190.52  7170.15  7171.55   2449.049
1    2020-01-01 01:00:00  7171.43  7225.00  7171.10  7210.24   3865.038
2    2020-01-01 02:00:00  7210.38  7239.30  7206.46  7237.99   3228.365
3    2020-01-01 03:00:00  7237.41  7239.74  7215.00  7221.65   2513.307
4    2020-01-01 04:00:00  7221.80  7225.41  7211.22  7213.86   1176.666
..                   ...      ...      ...      ...      ...        ...
995  2020-01-21 15:00:00  8658.62  8682.70  8646.00  8650.78   2674.935
996  2020-01-21 16:00:00  8650.50  8669.00  8628.19  8650.73   4460.596
997  2020-01-21 17:00:00  8650.54  8660.00  8633.04  8654.40   2226.977
998  2020-01-21 18:00:00  8654.35  8654.95  8624.16  8638.85   2286.082
999  2020-01-21 19:00:00  8638.84  8648.71  8448.60  8536.51  13620.420

[1000 rows x 6 columns]

## Example of Dataframe writing to InfluxDB

In [ ]:
sample_data = data
print(sample_data[1])

### One column (in this case 'close') should be assigned as value and field, so should not be included in tag_columns

In [ ]:
write_api.write(bucket=TEST1, record=sample_data, data_frame_measurement_name='binance',
                data_frame_tag_columns=['open', 'high', 'low', 'volume'])
write_api.close()

In [ ]:
#query = 'from(bucket: \"{}\") |> range(start:0)'.format(BUCKET)
query = f'from(bucket: \"{TEST1}\") |> range(start:0)'
data = client.query_api().query_data_frame(org=ORG, query=query)
data

## Write data (dataframe) to influxdb

In [ ]:
with open('data/20200101-exchange_inflow-block.pkl', 'rb') as f:
	inflow_data = pickle.load(f)

inflow_data.set_index('datetime', inplace=True)
inflow_data

In [ ]:
write_api.write(bucket=TEST2, record=inflow_data, data_frame_measurement_name='exchange_inflow',
                data_frame_tag_columns=['inflow_top10', 'inflow_mean', 'blockheight'])
write_api.close()

In [ ]:
query = f'from(bucket: \"{TEST2}\") |> range(start:0)'
data = client.query_api().query_data_frame(org=ORG, query=query)
data