## Cryptoquant Data Gathering Example

In [1]:
from utils import cq_utils, date_utils 
import pandas as pd 

start = '2019-01-01 01:00:00'

In [2]:
response = cq_utils.copro_premium(start, end=None, timeframe='min')
pd.DataFrame(response['data'])

processing: 2019-01-01 01:00:00 - 2021-06-24 01:41:46.921589
processing: 2019-01-01 01:00:00 - 2021-04-15 14:41:00
processing: 2019-01-01 01:00:00 - 2021-02-05 04:01:00
processing: 2019-01-01 01:00:00 - 2020-11-27 17:02:00
processing: 2019-01-01 01:00:00 - 2020-09-19 03:06:00
processing: 2019-01-01 01:00:00 - 2020-07-11 11:29:00
processing: 2019-01-01 01:00:00 - 2020-05-03 00:45:00
processing: 2019-01-01 01:00:00 - 2020-02-23 13:25:00
processing: 2019-01-01 01:00:00 - 2019-12-31 23:59:00

                   datetime  coinbase_premium_gap  coinbase_premium_index
0       2020-01-01 00:00:00                -32.64               -0.453923
1       2020-01-01 00:01:00                -30.31               -0.421842
2       2020-01-01 00:02:00                -23.84               -0.331918
3       2020-01-01 00:03:00                -22.11               -0.307774
4       2020-01-01 00:04:00                -26.26               -0.365674
...                     ...                   ...                     ...
775842  2021-06-24 01:36:00                  7.16                0.021757
775843  2021-06-24 01:37:00                 10.02                0.030481
775844  2021-06-24 01:38:00                  3.70                0.011233
775845  2021-06-24 01:39:00                  8.22                0.025040
775846  2021-06-24 01:40:00                  1.23                0.003748

[775847 rows x 3 columns]

In [3]:
response = cq_utils.stablecoin_supply_ratio('2017-01-01 01:00:00', end=None, timeframe='day')
pd.DataFrame(response['data'])

processing: 2017-01-01 01:00:00 - 2021-06-24 01:42:26.430944

            date  stablecoin_supply_ratio
0     2017-01-01              2032.571357
1     2017-01-02              2077.708932
2     2017-01-03              2070.393068
3     2017-01-04              1879.697002
4     2017-01-05              1494.332729
...          ...                      ...
1630  2021-06-19                10.808274
1631  2021-06-20                10.830242
1632  2021-06-21                 9.545977
1633  2021-06-22                 9.810200
1634  2021-06-23                10.100088

[1635 rows x 2 columns]

In [5]:
response = cq_utils.exchange_btc_reserve('2017-01-01 01:00:00', end=None, exchange='all_exchange', timeframe='block')
pd.DataFrame(response['data'])

processing: 2017-01-01 01:00:00 - 2021-06-24 01:43:05.909373
processing: 2017-01-01 01:00:00 - 2019-08-04 22:27:16
processing: 2017-01-01 01:00:00 - 2017-10-07 03:28:09
processing: 2017-01-01 01:00:00 - 2017-01-01 01:00:04

        blockheight             datetime       reserve   reserve_usd
0            446039  2017-01-01 01:01:04  1.136440e+06  1.103654e+09
1            446040  2017-01-01 01:02:34  1.136537e+06  1.103566e+09
2            446041  2017-01-01 01:10:25  1.136299e+06  1.101744e+09
3            446042  2017-01-01 01:35:33  1.136234e+06  1.097034e+09
4            446043  2017-01-01 01:56:24  1.136753e+06  1.103435e+09
...             ...                  ...           ...           ...
242595       688634  2021-06-24 00:56:03  2.491574e+06  8.297036e+10
242596       688635  2021-06-24 00:57:05  2.491571e+06  8.280133e+10
242597       688636  2021-06-24 01:06:15  2.491693e+06  8.275623e+10
242598       688637  2021-06-24 01:14:21  2.491652e+06  8.288971e+10
242599       688638  2021-06-24 01:33:45  2.491479e+06  8.236504e+10

[242600 rows x 4 columns]

In [6]:
response = cq_utils.exchange_btc_inflow('2017-01-01 01:00:00', end=None, exchange='all_exchange', timeframe='block')
pd.DataFrame(response['data'])

processing: 2017-01-01 01:00:00 - 2021-06-24 01:43:23.510869
processing: 2017-01-01 01:00:00 - 2019-08-04 22:27:16
processing: 2017-01-01 01:00:00 - 2017-10-07 03:28:09
processing: 2017-01-01 01:00:00 - 2017-01-01 01:00:04

,blockheight,datetime,inflow_total,inflow_top10,inflow_mean
0,446039,2017-01-01 01:01:04,523.854765,523.845023,12.776945
1,446040,2017-01-01 01:02:34,100.128977,100.128977,7.702229
2,446041,2017-01-01 01:10:25,75.306823,74.754330,0.660586
3,446042,2017-01-01 01:35:33,74.856558,74.204427,0.365154
4,446043,2017-01-01 01:56:24,661.035814,659.588338,3.046248
...,...,...,...,...,...
242595,688634,2021-06-24 00:56:03,140.894255,139.981034,0.700966
242596,688635,2021-06-24 00:57:05,3.665821,3.445813,0.041189
242597,688636,2021-06-24 01:06:15,357.339880,356.356401,2.290640
242598,688637,2021-06-24 01:14:21,40.132019,39.328344,0.229326
242599,688638,2021-06-24 01:33:45,210.302935,208.500122,0.805758

In [7]:
response = cq_utils.exchange_btc_netflow('2017-01-01 01:00:00', end=None, exchange='all_exchange', timeframe='block')
pd.DataFrame(response['data'])

2017-01-01 01:00:00 2021-06-24 01:43:34.810656
processing: 2017-01-01 01:00:00 - 2021-06-24 01:43:34.810656
processing: 2017-01-01 01:00:00 - 2019-08-04 22:27:16
processing: 2017-01-01 01:00:00 - 2017-10-07 03:28:09
processing: 2017-01-01 01:00:00 - 2017-01-01 01:00:04

        blockheight             datetime  netflow_total
0            446039  2017-01-01 01:01:04   523.48354460
1            446040  2017-01-01 01:02:34    96.95215518
2            446041  2017-01-01 01:10:25  -238.30073863
3            446042  2017-01-01 01:35:33   -64.69366605
4            446043  2017-01-01 01:56:24   519.27800303
...             ...                  ...            ...
242595       688634  2021-06-24 00:56:03  -171.83349842
242596       688635  2021-06-24 00:57:05    -2.56953370
242597       688636  2021-06-24 01:06:15   121.79030282
242598       688637  2021-06-24 01:14:21   -41.24175623
242599       688638  2021-06-24 01:33:45  -172.62001928

[242600 rows x 3 columns]

In [8]:
response = cq_utils.exchange_btc_outflow('2017-01-01 01:00:00', end=None, exchange='all_exchange', timeframe='block')
pd.DataFrame(response['data'])

2017-01-01 01:00:00 2021-06-24 01:43:44.018806
processing: 2017-01-01 01:00:00 - 2021-06-24 01:43:44.018806
processing: 2017-01-01 01:00:00 - 2019-08-04 22:27:16
processing: 2017-01-01 01:00:00 - 2017-10-07 03:28:09
processing: 2017-01-01 01:00:00 - 2017-01-01 01:00:04

,blockheight,datetime,outflow_total,outflow_top10,outflow_mean
0,446039,2017-01-01 01:01:04,0.371220,0.370753,0.024748
1,446040,2017-01-01 01:02:34,3.176822,3.176822,0.529470
2,446041,2017-01-01 01:10:25,313.607562,313.512187,10.453585
3,446042,2017-01-01 01:35:33,139.550224,138.518397,1.341829
4,446043,2017-01-01 01:56:24,141.757811,137.139345,1.687593
...,...,...,...,...,...
242595,688634,2021-06-24 00:56:03,312.727753,312.717177,2.113025
242596,688635,2021-06-24 00:57:05,6.235355,6.235355,1.247071
242597,688636,2021-06-24 01:06:15,235.549577,235.541248,1.731982
242598,688637,2021-06-24 01:14:21,81.373775,81.367773,0.689608
242599,688638,2021-06-24 01:33:45,382.922954,382.909472,1.392447

In [9]:
response = cq_utils.miners_position_index('2017-01-01 01:00:00', end=None, timeframe='day')
pd.DataFrame(response['data'])

2017-01-01 01:00:00 2021-06-24 01:43:55.860201
processing: 2017-01-01 01:00:00 - 2021-06-24 01:43:55.860201

            date       mpi
0     2017-01-01 -0.529292
1     2017-01-02 -0.491280
2     2017-01-03  0.035301
3     2017-01-04  0.080539
4     2017-01-05  1.667363
...          ...       ...
1629  2021-06-18 -0.744990
1630  2021-06-19 -0.776964
1631  2021-06-20 -0.736019
1632  2021-06-21 -0.634611
1633  2021-06-22 -0.656810

[1634 rows x 2 columns]

In [2]:
response = cq_utils.miners_position_index('2017-01-01 01:00:00', end=None, timeframe='day')
test = pd.DataFrame(response['data'])

2017-01-01 01:00:00 2021-06-24 02:16:50.075064
processing: 2017-01-01 01:00:00 - 2021-06-24 02:16:50.075064

In [3]:
test

            date       mpi
0     2017-01-01 -0.529292
1     2017-01-02 -0.491280
2     2017-01-03  0.035301
3     2017-01-04  0.080539
4     2017-01-05  1.667363
...          ...       ...
1629  2021-06-18 -0.744990
1630  2021-06-19 -0.776964
1631  2021-06-20 -0.736019
1632  2021-06-21 -0.634611
1633  2021-06-22 -0.656810

[1634 rows x 2 columns]

## Examples of datetime, timestamp conversion

In [3]:
datetime_obj = date_utils.str_to_datetime(test.date[0], '%Y-%m-%d')

timestamp = date_utils.datetime_to_utctimestamp(datetime_obj)
timestamp

1483228800.0

In [5]:
date_obj = date_utils.utctimestamp_to_datetime(timestamp)
str(date_obj)

'2017-01-01 00:00:00+00:00'