In [1]:
from datetime import datetime, timezone
import configparser
import json
import requests
import ccxt
import time
from pprint import pprint 
import pandas as pd
from urllib.parse import urljoin 
import utils 
# import data_fetch


config = configparser.ConfigParser()
config.read('../config.ini')


BINANCE_SYMBOL = 'BTC/USDT'
COPRO_SYMBOL = 'BTC/USD'

COPRO_DATETIME_FORMAT = '%Y-%m-%dT%H:%M:%S'
DEFAULT_DATETIME_FORMAT = '%Y-%m-%d %H:%M:%S' # format for general datetime params. 

BINANCE_COLUMNS = ['time', 'open', 'high', 'low', 'close', 'volume']
COPRO_COLUMNS  = ['time', 'low', 'high', 'open', 'close', 'volume']
COLUMNS  = ['time', 'open', 'high', 'low', 'close', 'volume']


BINANCE_API_KEY = config['BINANCE']['API_KEY']
BINANCE_SECRET_KEY = config['BINANCE']['SECRET_KEY']
BINANCE_API_URL = config['BINANCE']['API_URL']

COPRO_API_KEY = config['COINBASE']['API_KEY']
COPRO_SECRET_KEY = config['COINBASE']['SECRET_KEY']
COPRO_API_URL = config['COINBASE']['API_URL']

In [2]:
print('CCXT Version: ', ccxt.__version__)
# exchange_id = 'binance'

binance = ccxt.binance({
    'options': {
        'adjustForTimeDifference': True,
        'defaultType': 'future'
    },
    'rateLimit': 10000,
    'enableRateLimit': True,
    # 'verbose': True,
    'apiKey': BINANCE_API_KEY,
    'secret': BINANCE_SECRET_KEY,
})

copro = ccxt.coinbasepro({
    'options': {
        'adjustForTimeDifference': True,
        'defaultType': 'future'
    },
    'rateLimit': 10000,
    'enableRateLimit': True,
    # 'verbose': True,
    'apiKey': COPRO_API_KEY,
    'secret': COPRO_SECRET_KEY,
})

CCXT Version:  1.45.42

In [3]:
since = '2021-05-13 00:00:00'
since_timestamp = binance.parse8601(since)
print(since_timestamp)

b_data = utils.ohlcv_df(BINANCE_SYMBOL, binance, timeframe='1m', since=since)
# b_data_print = data_fetch.ohlcv_print(binance, b_data)

1620864000000
Data fetching: from 2021-05-13T00:00:00.000Z - to 2021-05-13T04:58:06.202Z
Fetching from:  2021-05-13T00:00:00.000Z
Fetching finished

In [4]:
#b_data.datetime = pd.to_datetime(b_data.datetime, unit='ms')
b_data

#b_data.set_index('datetime')

                         open      high       low     close    volume
datetime
2021-05-13 00:00:00  49596.75  49704.00  49000.00  49355.92  2660.240
2021-05-13 00:01:00  49360.61  49400.00  47242.00  47564.71  5138.911
2021-05-13 00:02:00  47604.27  48055.96  46300.00  46538.66  6426.309
2021-05-13 00:03:00  46538.66  47576.76  45596.32  46828.81  5579.740
2021-05-13 00:04:00  46818.09  47961.86  46564.49  47095.47  4200.248
...                       ...       ...       ...       ...       ...
2021-05-13 04:54:00  50442.47  50443.28  50356.39  50424.38   170.556
2021-05-13 04:55:00  50424.38  50437.60  50350.00  50381.15   148.882
2021-05-13 04:56:00  50381.14  50385.01  50301.71  50371.99   475.568
2021-05-13 04:57:00  50371.99  50475.84  50348.98  50417.77   398.898
2021-05-13 04:58:00  50417.78  50428.78  50350.56  50379.62    74.605

[299 rows x 5 columns]

In [5]:
c_data = utils.ohlcv_df(COPRO_SYMBOL, copro, timeframe='1m', since=since)
# c_data_print = data_fetch.ohlcv_print(copro, c_data)
c_data

Data fetching: from 2021-05-13T00:00:00.000Z - to 2021-05-13T04:58:34.817Z
Fetching from:  2021-05-13T00:00:00.000Z
Fetching finished

                         open      high       low     close      volume
datetime
2021-05-13 00:00:00  49498.76  49499.33  48649.71  49095.57  126.968086
2021-05-13 00:01:00  49095.57  49244.60  47500.00  47543.45  335.198687
2021-05-13 00:02:00  47500.03  47688.94  46650.00  46781.85  342.726256
2021-05-13 00:03:00  46781.85  46932.85  46000.00  46100.00  324.329186
2021-05-13 00:04:00  46532.94  47498.00  46000.00  46946.10  186.006899
...                       ...       ...       ...       ...         ...
2021-05-13 04:54:00  50489.01  50489.24  50411.72  50460.00    6.920793
2021-05-13 04:55:00  50460.00  50467.67  50414.95  50415.26    5.341146
2021-05-13 04:56:00  50415.26  50430.29  50343.17  50391.74   19.462071
2021-05-13 04:57:00  50391.74  50512.64  50379.82  50453.82   34.485784
2021-05-13 04:58:00  50453.82  50471.93  50372.35  50445.44    6.966671

[299 rows x 5 columns]

In [ ]:
# ?binance.fetchOHLCV

since = '2021-05-12 00:00:00'

since_timestamp = binance.parse8601(since)
print(since_timestamp)

binance_data = binance.fetchOHLCV(BINANCE_SYMBOL, since=since_timestamp)
len(binance_data)

binance.iso8601(since_timestamp)

In [ ]:
copro_data = copro.fetchOHLCV(COPRO_SYMBOL, since=since_timestamp)
len(copro_data)

In [ ]:
for item in copro_data:
    ts, o, h, l, c, v = item
    print(binance.iso8601(ts), o, h, l, c, v)

In [ ]:
aa = [print(binance.iso8601(ts), c) for ts, o, h, l, c, v in copro_data]

In [ ]:
test_data = ohlcv_data(BINANCE_SYMBOL, binance, '1m', since='2021-04-23 00:00:00')

In [7]:
utils.merge_price_signal(b_data, c_data)

,open_x,high_x,low_x,close_x,volume_x,open_y,high_y,low_y,close_y,volume_y
datetime,,,,,,,,,,
2021-05-13 00:00:00,49596.75,49704.00,49000.00,49355.92,2660.240,49498.76,49499.33,48649.71,49095.57,126.968086
2021-05-13 00:01:00,49360.61,49400.00,47242.00,47564.71,5138.911,49095.57,49244.60,47500.00,47543.45,335.198687
2021-05-13 00:02:00,47604.27,48055.96,46300.00,46538.66,6426.309,47500.03,47688.94,46650.00,46781.85,342.726256
2021-05-13 00:03:00,46538.66,47576.76,45596.32,46828.81,5579.740,46781.85,46932.85,46000.00,46100.00,324.329186
2021-05-13 00:04:00,46818.09,47961.86,46564.49,47095.47,4200.248,46532.94,47498.00,46000.00,46946.10,186.006899
...,...,...,...,...,...,...,...,...,...,...
2021-05-13 04:40:00,50701.37,50710.01,50598.13,50651.43,279.330,50720.41,50731.86,50624.18,50676.06,9.417090
2021-05-13 04:41:00,50651.43,50697.30,50574.14,50584.66,412.626,50681.16,50729.12,50617.77,50619.19,13.119153
2021-05-13 04:42:00,50584.67,50635.42,50540.28,50604.90,269.834,50619.16,50663.96,50571.44,50624.19,27.204028
2021-05-13 04:43:00,50604.90,50698.00,50604.90,50675.05,195.885,50624.19,50731.89,50624.18,50690.52,26.975944
2021-05-13 04:44:00,50675.05,50719.40,50657.60,50688.53,125.694,50701.96,50732.32,50621.57,50621.57,20.562332