In [1]:
import talib.abstract as ta
from pandas_datareader import data 

sillajen = data.DataReader('215600.KQ','yahoo', '2017-01-01', '2018-01-31')\
    .dropna(how='all')\
    .rename(columns=lambda col:col.lower())

In [2]:
sillajen

                high       low      open     close     volume  adj close
Date
2017-01-02   13250.0   12900.0   13250.0   12950.0   497396.0    12950.0
2017-01-13   12350.0   11850.0   12200.0   12100.0   612247.0    12100.0
2017-01-17   11600.0   11250.0   11500.0   11450.0   748532.0    11450.0
2017-01-23   11150.0   10400.0   11100.0   10500.0   914339.0    10500.0
2017-02-07   10700.0   10300.0   10450.0   10600.0   365127.0    10600.0
...              ...       ...       ...       ...        ...        ...
2018-01-25  112800.0  107600.0  110700.0  111500.0  2508539.0   111500.0
2018-01-26  112500.0  109000.0  110300.0  110000.0  1882386.0   110000.0
2018-01-29  112800.0  109600.0  110300.0  110000.0  1844918.0   110000.0
2018-01-30  114600.0  110100.0  110500.0  110100.0  2989244.0   110100.0
2018-01-31  110700.0  105700.0  109000.0  105900.0  2340061.0   105900.0

[206 rows x 6 columns]

In [8]:
talib_ma5 = ta.MA(sillajen, timeperiod=5)
talib_ma5

SyntaxError: invalid syntax (<ipython-input-8-11a0a7f3c944>, line 1)

In [9]:
pandas_ma5 = sillajen.close.rolling(window=5).mean()

In [10]:
talib_ma5.equals(pandas_ma5)

True

In [14]:
talib_ma5

Date
2017-01-02         NaN
2017-01-13         NaN
2017-01-17         NaN
2017-01-23         NaN
2017-02-07     11520.0
                ...
2018-01-25    108820.0
2018-01-26    110220.0
2018-01-29    111400.0
2018-01-30    110420.0
2018-01-31    109500.0
Length: 206, dtype: float64

In [22]:
shifted_ma5 = talib_ma5.shift(-1)

In [24]:
shifted_ma5[-1] = 1000

In [25]:
shifted_ma5

Date
2017-01-02         NaN
2017-01-13         NaN
2017-01-17         NaN
2017-01-23     11520.0
2017-02-07     10940.0
                ...
2018-01-25    110220.0
2018-01-26    111400.0
2018-01-29    110420.0
2018-01-30    109500.0
2018-01-31      1000.0
Length: 206, dtype: float64

In [28]:
shifted_ma5.shift(-1)[-1] = 100000

In [29]:
shifted_ma5

Date
2017-01-02         NaN
2017-01-13         NaN
2017-01-17         NaN
2017-01-23     11520.0
2017-02-07     10940.0
                ...
2018-01-25    110220.0
2018-01-26    111400.0
2018-01-29    110420.0
2018-01-30    109500.0
2018-01-31      1000.0
Length: 206, dtype: float64